<p id="notice"><%= notice %></p>

<p>
  <strong>Resultado:</strong>
  <%= @resultadoconsultum.resultado %>
</p>

<%= link_to 'Edit', edit_resultadoconsultum_path(@resultadoconsultum) %> |
<%= link_to 'Back', resultadoconsulta_path %>
